*{
	box-sizing: border-box;
}

body{
	margin: 100px auto;
	overflow: hidden;
	background-image: linear-gradient(black, white);
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper{
	margin: 25% auto;
    	background: rgba(255, 255, 255, 0.5);
   	width: 100px;
    	height: 100px;
	position: relative;
	transform-style: preserve-3d;
	transform: rotatex(80deg);
	animation-name: rotate;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-delay: 2s;
}
@keyframes rotate{
	0% {transform: rotatex(80deg)}
	100% {transform: rotatex(80deg) rotate(360deg)}
}

body .wrapper:hover{
	scale: 2;
}

div{
	height: 100px;
	width: 100px;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.5);
	background-size: cover;
}

.side1{
}

.side2{
	top: 0;
	left: -50px;
	transform: rotateY(-90deg) translatex(50px) rotate(90deg);
	background-image: url('../img/box1.jpeg');
}

.side3{
	top: 0;
	left: 50px;
	transform: rotateY(90deg) translatex(-50px) rotate(-90deg);
	background-image: url('../img/dd.svg');
	background-size: cover;
	background-color: #f1efef;
}

.side4{
	top: -50px;
    	left: 0;
    	transform: rotateX(90deg) translatey(50px) rotate(180deg);
	background-image: url('../img/box3.jpeg');
}

.side5{
	top: 50px;
	left: 0;
	transform: rotateX(-90deg) translateY(-50px);
	background-image: url('../img/box4.png');
}

.side6{
	top: 0;
	left: 0;
	transform: translatez(100px);
	transform-style: preserve-3d;
	background-image: radial-gradient(black 10%, white 38%);
}
	

.ball{
	border-radius: 50%;
	transform: rotatex(90deg) translatey(25px);
	position: absolute;
	top: 25px;
	left: 25px;
	height: 50px;
	width: 50px;
	background-image: linear-gradient(#8a8888 1%, white 99%);
	animation-name: rotate2;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-delay: 2s;
}
@keyframes rotate2{
	0% {transform: rotatex(90deg) translatey(25px)}
	25% {transform: rotateX(90deg) translateY(100px) rotateY(-45deg)}
	50% {transform: rotateX(90deg) translateY(25px) rotateY(-90deg)}
	75% {transform: rotateX(90deg) translateY(100px) rotateY(-135deg)}
	100% {transform:  rotatex(90deg) translatey(25px) rotatey(-180deg)}
}

.buttons{
	display: flex;
	gap: 30px;
}


.button{
	height: 50px;
	width: 100px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	background-size: 40px;
}

.button:hover{
	background-color: #b2aeae;
}

#play-pause-btn{

	background-image: url('../img/play.png');
}

#stop-btn{
	background-image: url('../img/stop.png');
}



@media screen and (max-width: 800px){
	.cube{
		scale: 2;
	}
}
