*{
	box-sizing: border-box;
}

body{
	margin: 0;
	overflow: hidden;
	background-image: linear-gradient(black, white);
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
}

.cube{
    background: rgba(255, 255, 255, 0.5);
    width: 300px;
    height: 300px;
	transform-style: preserve-3d;
	transform: rotatex(80deg);
}

.rotate-cube{
	animation-name: rotate;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes rotate{
	0% {transform: rotatex(80deg)}
	100% {transform: rotatex(80deg) rotate(360deg)}
}

.cube::after{
	content: "";
	height: 300px;
	width: 300px;
	background-color: black;
	display: block;
	position: absolute;
	transform: translateZ(-20px);
	opacity: .6;
}

.sides{
	height: 300px;
	width: 300px;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.5);
	background-size: cover;
}

#side2{
	top: 0;
	left: -150px;
	transform: rotateY(-90deg) translatex(150px) rotate(90deg);
	background-image: url('../img/box1.jpeg');
}

#side3{
	top: 0;
	left: 150px;
	transform: rotateY(90deg) translatex(-150px) rotate(-90deg);
	background-image: url('../img/box4.png');
	background-size: cover;
	background-color: #f1efef;
}

#side4{
	top: -150px;
    left: 0;
    transform: rotateX(90deg) translatey(150px) rotate(180deg);
	background-image: url('../img/box3.jpeg');
}

#side5{
	top: 150px;
	left: 0;
	transform: rotateX(-90deg) translateY(-150px);
	background-image: url('../img/dd.svg');
}

#side6{
	top: 0;
	left: 0;
	transform: translatez(300px);
	transform-style: preserve-3d;
	background-image: radial-gradient(black 10%, white 38%);
}

.side6-shadow{
	animation-name: shadow;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes shadow{
	0%{background-image: radial-gradient(black 10%, white 38%);}
	10%{background-image: radial-gradient(black 10%, white 31%);}
	20%{background-image: radial-gradient(black 10%, white 24%);}
	30%{background-image: radial-gradient(black 10%, white 17%);}
	40%{background-image: radial-gradient(black 10%, white 10%);}
	50%{background-image: radial-gradient(black 10%, white 3%);}
	60%{background-image: radial-gradient(black 10%, white 10%);}
	70%{background-image: radial-gradient(black 10%, white 17%);}
	80%{background-image: radial-gradient(black 10%, white 24%);}
	90%{background-image: radial-gradient(black 10%, white 31%);}
	100%{background-image: radial-gradient(black 10%, white 38%);}
}

#ball{
	border-radius: 50%;
	transform: rotatex(90deg) translatey(75px);
	position: absolute;
	top: 75px;
	left: 75px;
	height: 150px;
	width: 150px;
	background-image: linear-gradient(#8a8888 1%, white 99%);
}

.ball-bounce{
	animation-name: ball-bounce;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0,-0.18,.58,1.54);
}
@keyframes ball-bounce{
	0% {transform: rotatex(90deg) translatey(75px)}
	25% {transform: rotateX(90deg) translateY(175px) rotateY(-45deg)}
	50% {transform: rotateX(90deg) translateY(75px) rotateY(-90deg)}
	75% {transform: rotateX(90deg) translateY(175px) rotateY(-135deg)}
	100% {transform:  rotatex(90deg) translatey(75px) rotatey(-180deg)}
}

.buttons{
	display: flex;
	gap: 30px;
}


.button{
	height: 50px;
	width: 100px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	background-size: 40px;
}

.button:hover{
	background-color: #b2aeae;
}

#play-pause-btn{

	background-image: url('../img/play.png');
}

#stop-btn{
	background-image: url('../img/stop.png');
}
